.aside-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 5rem;
  padding: 1rem 0;
  align-items: center;
  position: sticky;
  top: 5rem;
}

.aside-bar i {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.aside-bar-wrapper {
  position: sticky;
  top: 4.5rem;
  left: 5%;
  height: 100%;
  background: linear-gradient(78deg, #1C076FF2 2%, #07293DED 100%);
}


@media (max-width: 768px) {
  .aside-bar {
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    padding: inherit;
  }
}
