.video-card {
  width: 20rem;
  position: relative;
}

.video-card-content {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1.5rem;
  position: relative;
  margin-right: 2rem;
  justify-content: space-between;
  width: 100%;
}

.video-card-link {
  text-decoration: none;
  color: rgb(20, 20, 20);
  border-radius: 5px;
  display: inline-block;
  padding: 0.3rem;
}

.toggle-video-menu {
  position: absolute;
  right: 0;
  width: 15rem;
  background: var(--dark-white-bg);
  top: 2rem;
  height: auto;
  margin: 0.5rem 0.5rem;
  z-index: 3;
}

.toggle-video-menu > div {
  margin: 0.5rem 0rem;
}

.video-card-img {
  max-width: 20rem;
  max-height: 15rem;
}

.toggle-video-menu > div {
  margin: 0.5rem 0;
  padding: 0.5rem;
  cursor: pointer;
}

.toggle-video-menu > div:hover {
  background-color: var(--secondary-bg);
}

.toggle-video-menu > div > i {
  margin: 0 1rem 0 0.5rem;
}
