.modal-container {
  display: flex;
  width: 100%;
}

.auth-wrapper {
  width: 25rem;
  padding: 0.5rem 1rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-bg);
  border-radius: 4px;
  height: -webkit-fill-available;
}

.require-star {
  color: red;
}

.auth-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 2rem;
}

.form-submit {
  color: white;
  background-color: rgb(113, 83, 83);
}

.auth-wrapper input {
  padding: 0.5rem 1rem;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-wrapper label {
    font-style: italic;
    font-weight: 600;
}

.show-password{
  position: absolute;
}