.single-video-wrapper {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.single-video-wrapper > div:first-child {
  flex-grow: 2;
}

.single-video-wrapper .video-card-img {
  width: 20rem;
}

.single-video-player {
  max-width: 60rem;
}

.single-video-centre {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.single-video-icons > span {
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%; 
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.note-input-wrapper{
  padding: 1rem;
  background: var(--light-white-bg);
  border-radius: 5px;
}


@media (max-width: 1024px) {
  .single-video-wrapper {
    flex-direction: column;
  }
}

