.playlist-video {
  display: flex;
  width: 30rem;
  gap: 1rem;
}

.playlist-video-title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  align-items: center;
}

.playlist-video-icon {
  align-self: start;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
