.playlist-video {
  display: flex;
  width: 30rem;
  gap: 1rem;
}

.playlist-video-img {
  width: 8rem;
}

.playlist-video-title {
  flex-grow: 2;
}

.playlist-video-icon {
  align-self: center;
  font-size: 1.5rem;
}
