.open-menu {
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
  margin-right: 1rem;
}

.search-input-wrapper {
  flex-grow: 2;
  margin-left: 1rem;
  position: relative;
}

.header{
  color: white;
}

.header .input-search-icon{
  color: black;
}

.nav-bg-primary {
  background-color: var(--white-color);
}

.nav-text-primary {
  color: var(--gray-color);
}


.nav-btn-primary {
  background-color: var(--transparent-bg);
  line-height: 1rem;
  gap: 0.5rem;
}

.nav-input-width {
  width: 85%;
  margin: 0 4rem;
}

.user-profile-buttons{
  position: absolute;
  width: 10rem;
  right: 2%;
  margin: 0.5rem;
}

.user-profile-buttons li {
  background: rgb(23, 72, 162);
}

.user-profile-buttons li button {
  color: rgb(255, 255, 255);
}

.user-profile-buttons li:hover{
  background: rgb(48, 101, 199);
}

@media screen and (max-width: 730px) {
  .search-bar {
    order: 2;
  }
  .nav-input-width {
    margin: 0 2rem;
  }
}
