.d-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.gap-2 {
  gap: 1rem;
}

.m-2 {
  margin: 1rem;
}

.ml-1{
  margin-left: 0.5rem;
}

.mr-3{
  margin-right: 1.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mx-1{
  margin: 0 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.py-1 {
  padding: 0.5rem 0rem;
}

.py-2 {
  padding: 1rem 0rem;
}

.pl-2 {
  padding-left: 1rem;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.w-100 {
  width: 100%;
}

.gap-2 {
  gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}
