@import url(./css//main.css);

.header-wrapper {
  top: 0;
  position: sticky;
  left: 0;
  z-index: 4;
  background: linear-gradient(63deg, #1c076ff2 2%, #07293ded 100%);
}

.aside-container {
  height: calc(100vh - 4.5rem);
  position: sticky;
  top: 4.5rem;
}

@media (max-width: 768px) {
  .aside-container {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: auto;
    top: auto;
    z-index: 4;
  }
}
