@import url(./css//main.css);

.header-wrapper {
  top: 0;
  position: sticky;
  left: 0;
  z-index: 4;
  background: linear-gradient(63deg, #1c076ff2 2%, #07293ded 100%);
}

.aside-container {
  height: 42.6rem;
  position: sticky;
  top: 4.5rem;
}
